*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    width: 100%;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

a{
    color: hsl(250, 69%, 61%);
    text-decoration: none;
}

a:hover{
    color: hsl(250, 55%, 45%);
}


main{
    text-align: center;
}

.color-label{
    display: block;
    font-size: 2rem;
}

.color-input{
    width: 250px;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    margin: 0.5rem;
}

.change-btn{
    color: #fff;
    background: hsl(250, 69%, 61%);
    border: none;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.change-btn:hover{
    background: hsl(250, 55%, 45%);
}


footer{
    text-align: center;
    padding: 3.5rem;
    background: #F2DE7D;
}
